.App {
  text-align: center;
  background-color: black;
 
}
.container {
  padding-top: 25px;
}
.btn{
  background-color: white;
  color: black;
  width: 200px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
   
}
.highlight{
  font-size: x-large;
  
}

.close-button-container {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.close-icon {
  color: #ffffff;
  font-size: 24px;
  transition: transform 0.3s ease-in-out; 
}

.rotate-circle {
  animation: rotate 1.5s infinite linear; 
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
